# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [ ]:
# To ensure consistency and ease of use, -standardize- the -column names of the dataframe-. 
# Start by taking a first -look at the dataframe- and identifying any -column names- that need -to be modified-. 
# Use -appropriate naming conventions- and make sure that -column names- are -descriptive and informative-.

In [ ]:
# Hint
    # Column names should be in lower case
    # White spaces in column names should be replaced by _
    # st could be replaced for state

In [16]:
# To ensure consistency and ease of use, -standardize- the -column names of the dataframe-. 
    # Start by taking a first -look at the dataframe- and identifying any -column names- that need -to be modified-. 
file1

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,114721,OK,NaN,1040,472,656.0,0,26962,2,56,609.0,579,11.666667,0,0,C2,15.0
1003,149152,CA,M,4507,842,962.0,95,54642,17,50,1004.0,893,20.000000,1,4401,S1,20.0
1004,959,IA,F,586,349,465.0,1,15304,1,77,413.0,404,7.300000,0,4404,C2,10.0
1005,179563,WA,male,842,420,494.0,2,12894,41,24,419.0,476,16.400000,1,5001,S2,23.0
1006,41243,FL,F,556,246,330.0,0,10272,2,56,277.0,292,9.818182,2,2201,S2,12.0

In [ ]:
# Use -appropriate naming conventions- and make sure that -column names- are -descriptive and informative-.

In [17]:
# Column names should be in lower case
df = pd.DataFrame(file1)
df.columns = df.columns.str.lower()
print(df)

      controln state gender      hv1  ic1    ic4  hvp1    ic5  pobc1  pobc2  \
0        44060    FL      M   AAA896  392  520.0     7  21975      6     16
1        96093    IL      M   537.00  365  473.0     0  19387      1     89
2        43333    FL      F   725.00  301  436.0     3  18837     11     17
3        21885    NC      M  AAA1095  401  413.0     7  14014      1     74
4       190108    FL      F   995.00  252  348.0     0  17991      5      6
...        ...   ...    ...      ...  ...    ...   ...    ...    ...    ...
1002    114721    OK    NaN     1040  472  656.0     0  26962      2     56
1003    149152    CA      M     4507  842  962.0    95  54642     17     50
1004       959    IA      F      586  349  465.0     1  15304      1     77
1005    179563    WA   male      842  420  494.0     2  12894     41     24
1006     41243    FL      F      556  246  330.0     0  10272      2     56

         ic2  ic3    avggift  tcode   dob domain  target_d
0      430.0  466  28.000000      1  1901     C2     100.0
1      415.0  410   5.666667      0     0     T2       7.0
2      340.0  361   4.111111      0  2501     C2       5.0
3      407.0  399  27.277778      0  2208     T2      38.0
4      280.0  316   6.000000     28     0     C2       5.0
...      ...  ...        ...    ...   ...    ...       ...
1002   609.0  579  11.666667      0     0     C2      15.0
1003  1004.0  893  20.000000      1  4401     S1      20.0
1004   413.0  404   7.300000      0  4404     C2      10.0
1005   419.0  476  16.400000      1  5001     S2      23.0
1006   277.0  292   9.818182      2  2201     S2      12.0

[1007 rows x 17 columns]

In [20]:
# White spaces in column names should be replaced by _
column_names = file1.columns
print(column_names)

Index(['controln', 'state', 'gender', 'hv1', 'ic1', 'ic4', 'hvp1', 'ic5',
       'pobc1', 'pobc2', 'ic2', 'ic3', 'avggift', 'tcode', 'dob', 'domain',
       'target_d'],
      dtype='object')

In [26]:
# White spaces in column names should be replaced by _
df = pd.DataFrame(file1)
df = df.applymap(lambda x: x.replace(' ', '_') if isinstance(x, str) else x)
print(df)

      controln state gender      hv1  ic1    ic4  hvp1    ic5  pobc1  pobc2  \
0        44060    FL      M   AAA896  392  520.0     7  21975      6     16
1        96093    IL      M   537.00  365  473.0     0  19387      1     89
2        43333    FL      F   725.00  301  436.0     3  18837     11     17
3        21885    NC      M  AAA1095  401  413.0     7  14014      1     74
4       190108    FL      F   995.00  252  348.0     0  17991      5      6
...        ...   ...    ...      ...  ...    ...   ...    ...    ...    ...
1002    114721    OK    NaN     1040  472  656.0     0  26962      2     56
1003    149152    CA      M     4507  842  962.0    95  54642     17     50
1004       959    IA      F      586  349  465.0     1  15304      1     77
1005    179563    WA   male      842  420  494.0     2  12894     41     24
1006     41243    FL      F      556  246  330.0     0  10272      2     56

         ic2  ic3    avggift  tcode   dob domain  target_d
0      430.0  466  28.000000      1  1901     C2     100.0
1      415.0  410   5.666667      0     0     T2       7.0
2      340.0  361   4.111111      0  2501     C2       5.0
3      407.0  399  27.277778      0  2208     T2      38.0
4      280.0  316   6.000000     28     0     C2       5.0
...      ...  ...        ...    ...   ...    ...       ...
1002   609.0  579  11.666667      0     0     C2      15.0
1003  1004.0  893  20.000000      1  4401     S1      20.0
1004   413.0  404   7.300000      0  4404     C2      10.0
1005   419.0  476  16.400000      1  5001     S2      23.0
1006   277.0  292   9.818182      2  2201     S2      12.0

[1007 rows x 17 columns]

In [32]:
# st could be replaced for state

df.rename(columns={'state': 'st'}, inplace=True)
print(df)

      controln  st gender      hv1  ic1    ic4  hvp1    ic5  pobc1  pobc2  \
0        44060  FL      M   AAA896  392  520.0     7  21975      6     16
1        96093  IL      M   537.00  365  473.0     0  19387      1     89
2        43333  FL      F   725.00  301  436.0     3  18837     11     17
3        21885  NC      M  AAA1095  401  413.0     7  14014      1     74
4       190108  FL      F   995.00  252  348.0     0  17991      5      6
...        ...  ..    ...      ...  ...    ...   ...    ...    ...    ...
1002    114721  OK    NaN     1040  472  656.0     0  26962      2     56
1003    149152  CA      M     4507  842  962.0    95  54642     17     50
1004       959  IA      F      586  349  465.0     1  15304      1     77
1005    179563  WA   male      842  420  494.0     2  12894     41     24
1006     41243  FL      F      556  246  330.0     0  10272      2     56

         ic2  ic3    avggift  tcode   dob domain  target_d
0      430.0  466  28.000000      1  1901     C2     100.0
1      415.0  410   5.666667      0     0     T2       7.0
2      340.0  361   4.111111      0  2501     C2       5.0
3      407.0  399  27.277778      0  2208     T2      38.0
4      280.0  316   6.000000     28     0     C2       5.0
...      ...  ...        ...    ...   ...    ...       ...
1002   609.0  579  11.666667      0     0     C2      15.0
1003  1004.0  893  20.000000      1  4401     S1      20.0
1004   413.0  404   7.300000      0  4404     C2      10.0
1005   419.0  476  16.400000      1  5001     S2      23.0
1006   277.0  292   9.818182      2  2201     S2      12.0

[1007 rows x 17 columns]

In [43]:
# Use -appropriate naming conventions- and make sure that -column names- are -descriptive and informative-.

df.rename(columns={'controln': 'controlnr'}, inplace=True)
df.rename(columns={'st': 'state'}, inplace=True)
df.rename(columns={'hv1': 'median_home_value'}, inplace=True)
df.rename(columns={'ic1': 'medianhousehold_income'}, inplace=True)
df.rename(columns={'ic4': 'average_family_income'}, inplace=True)
df.rename(columns={'hvp1': 'percent_home_value'}, inplace=True)
df.rename(columns={'ic5': 'per_capita_income'}, inplace=True)
df.rename(columns={'pobc1': 'percent_foreign_born'}, inplace=True)
df.rename(columns={'pobc2': 'percent_born_in_state_of_residence'}, inplace=True)
df.rename(columns={'ic2': 'median_family_income'}, inplace=True)
df.rename(columns={'ic3': 'average_household_income'}, inplace=True)
df.rename(columns={'tcode': 'donor_title_code'}, inplace=True)
df.rename(columns={'dob': 'date_of_birth'}, inplace=True)
df.rename(columns={'target_d ': 'donation_amount'}, inplace=True)

print(df)

      controlnr state gender median_home_value  Median Household Income  \
0         44060    FL      M            AAA896                      392
1         96093    IL      M            537.00                      365
2         43333    FL      F            725.00                      301
3         21885    NC      M           AAA1095                      401
4        190108    FL      F            995.00                      252
...         ...   ...    ...               ...                      ...
1002     114721    OK    NaN              1040                      472
1003     149152    CA      M              4507                      842
1004        959    IA      F               586                      349
1005     179563    WA   male               842                      420
1006      41243    FL      F               556                      246

      Average Family Income  Percent Home Value Per Capita Income  \
0                     520.0                   7             21975
1                     473.0                   0             19387
2                     436.0                   3             18837
3                     413.0                   7             14014
4                     348.0                   0             17991
...                     ...                 ...               ...
1002                  656.0                   0             26962
1003                  962.0                  95             54642
1004                  465.0                   1             15304
1005                  494.0                   2             12894
1006                  330.0                   0             10272

      Percent Foreign Born  Percent Born in State of Residence  \
0                        6                                  16
1                        1                                  89
2                       11                                  17
3                        1                                  74
4                        5                                   6
...                    ...                                 ...
1002                     2                                  56
1003                    17                                  50
1004                     1                                  77
1005                    41                                  24
1006                     2                                  56

      Median Family Income  Average Household Income    avggift  \
0                    430.0                       466  28.000000
1                    415.0                       410   5.666667
2                    340.0                       361   4.111111
3                    407.0                       399  27.277778
4                    280.0                       316   6.000000
...                    ...                       ...        ...
1002                 609.0                       579  11.666667
1003                1004.0                       893  20.000000
1004                 413.0                       404   7.300000
1005                 419.0                       476  16.400000
1006                 277.0                       292   9.818182

      Donor title code  Date of Birth domain  target_d
0                    1           1901     C2     100.0
1                    0              0     T2       7.0
2                    0           2501     C2       5.0
3                    0           2208     T2      38.0
4                   28              0     C2       5.0
...                ...            ...    ...       ...
1002                 0              0     C2      15.0
1003                 1           4401     S1      20.0
1004                 0           4404     C2      10.0
1005                 1           5001     S2      23.0
1006                 2           2201     S2      12.0

[1007 rows x 17 columns]

In [44]:
# Your code here

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they contain only valid data. 

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [ ]:
# The dataset contains columns with -inconsistent and incorrect values- that could affect the accuracy of our analysis.
    # Therefore, we need to -clean these columns- to ensure that they contain -only valid data-.

# Note that this exercise will focus -only on cleaning- inconsistent values 
# --and will not involve handling -null values (NaN or None)-.

In [1]:
# Hint:

# -Gender column- contains various -inconsistent values- such as 
# --"F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F". 

# -State abbreviations- can -replaced- with its -full name-, 
#--for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"

# In education, "Bachelors" could be -replaced- by "Bachelor"

# In Customer Lifetime Value, -delete- the -% character-

# In -vehicle class-, "Sports Car", "Luxury SUV" and "Luxury Car" could be -replaced- by "Luxury"

In [49]:
unique_categories = df['gender'].unique()
print(unique_categories)

['M' 'F' 'female' 'Male' nan 'U' 'J' 'male' 'Female' 'feamale']

In [57]:
# -Gender column- contains various -inconsistent values- such as 
# --"F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F". 
df = pd.DataFrame(file1)
standardize_mapping = {
    'Gender': {'Male': 'M','male': 'M', 'female': 'F', 'Female': 'F', 'feamale': 'F'}}
df = df.replace(standardize_mapping)
print(df)

      controln state gender      hv1  ic1    ic4  hvp1    ic5  pobc1  pobc2  \
0        44060    FL      M   AAA896  392  520.0     7  21975      6     16
1        96093    IL      M   537.00  365  473.0     0  19387      1     89
2        43333    FL      F   725.00  301  436.0     3  18837     11     17
3        21885    NC      M  AAA1095  401  413.0     7  14014      1     74
4       190108    FL      F   995.00  252  348.0     0  17991      5      6
...        ...   ...    ...      ...  ...    ...   ...    ...    ...    ...
1002    114721    OK    NaN     1040  472  656.0     0  26962      2     56
1003    149152    CA      M     4507  842  962.0    95  54642     17     50
1004       959    IA      F      586  349  465.0     1  15304      1     77
1005    179563    WA   male      842  420  494.0     2  12894     41     24
1006     41243    FL      F      556  246  330.0     0  10272      2     56

         ic2  ic3    avggift  tcode   dob domain  target_d
0      430.0  466  28.000000      1  1901     C2     100.0
1      415.0  410   5.666667      0     0     T2       7.0
2      340.0  361   4.111111      0  2501     C2       5.0
3      407.0  399  27.277778      0  2208     T2      38.0
4      280.0  316   6.000000     28     0     C2       5.0
...      ...  ...        ...    ...   ...    ...       ...
1002   609.0  579  11.666667      0     0     C2      15.0
1003  1004.0  893  20.000000      1  4401     S1      20.0
1004   413.0  404   7.300000      0  4404     C2      10.0
1005   419.0  476  16.400000      1  5001     S2      23.0
1006   277.0  292   9.818182      2  2201     S2      12.0

[1007 rows x 17 columns]

In [67]:
# -State abbreviations- can -replaced- with its -full name-, 
#--for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"
df = pd.DataFrame(file1)
standardize_mapping = {'state': {'FL': 'Florida', 'IL' : 'Illinois', 'NC' : 'NorthCarolina'},
}
df = df.replace(standardize_mapping)
print(df)

      controln          state gender      hv1  ic1    ic4  hvp1    ic5  pobc1  \
0        44060        Florida      M   AAA896  392  520.0     7  21975      6
1        96093       Illinois      M   537.00  365  473.0     0  19387      1
2        43333        Florida      F   725.00  301  436.0     3  18837     11
3        21885  NorthCarolina      M  AAA1095  401  413.0     7  14014      1
4       190108        Florida      F   995.00  252  348.0     0  17991      5
...        ...            ...    ...      ...  ...    ...   ...    ...    ...
1002    114721             OK    NaN     1040  472  656.0     0  26962      2
1003    149152             CA      M     4507  842  962.0    95  54642     17
1004       959             IA      F      586  349  465.0     1  15304      1
1005    179563             WA   male      842  420  494.0     2  12894     41
1006     41243        Florida      F      556  246  330.0     0  10272      2

      pobc2     ic2  ic3    avggift  tcode   dob domain  target_d
0        16   430.0  466  28.000000      1  1901     C2     100.0
1        89   415.0  410   5.666667      0     0     T2       7.0
2        17   340.0  361   4.111111      0  2501     C2       5.0
3        74   407.0  399  27.277778      0  2208     T2      38.0
4         6   280.0  316   6.000000     28     0     C2       5.0
...     ...     ...  ...        ...    ...   ...    ...       ...
1002     56   609.0  579  11.666667      0     0     C2      15.0
1003     50  1004.0  893  20.000000      1  4401     S1      20.0
1004     77   413.0  404   7.300000      0  4404     C2      10.0
1005     24   419.0  476  16.400000      1  5001     S2      23.0
1006     56   277.0  292   9.818182      2  2201     S2      12.0

[1007 rows x 17 columns]

In [62]:
# Your code here

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has a wrong format, look at the diffrent values it takes with unique() and take the middle value, for example 1/5/00 should be 5. Number of open complaints is a string, remember you can use split() to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [ ]:
# The data types of many columns in the dataset appear to be incorrect. 
# This could impact the accuracy of our analysis. 
# To ensure accurate analysis, we need to correct the data types of these columns.
# Please -update- the -data types of the columns- as appropriate.

In [ ]:
# Hint:
# Number of open complaints has a -wrong format-, 
#--look at the -diffrent values- it takes with -unique()- and take the -middle value-, for example 1/5/00 should be 5.

In [ ]:
# Your code here
File1.csv does not contain any data about customer lifetime value, customers and complaints.
Is there another file available where I can collect this data?

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the isnull() function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (we haven't studied this yet)

Implement your chosen strategy to handle the null values. You can use the fillna() function in pandas to fill null values or dropna() function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the isnull() function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values. 

After formatting data types, as a last step, convert all the numeric variables to integers using applymap.

In [ ]:
# Identify any -columns- with -null or missing values-. 
# Identify -how many- null values -each column- has.
    # You can use the -isnull() function- in -pandas- to find -columns with null values-.

In [79]:
# Identify any -columns- with -null or missing values-. 

columns_with_missing_values = df.columns[df.isna().any()].tolist()
print("Columns with Missing Values:")
print(columns_with_missing_values)

Columns with Missing Values:
['gender', 'hv1', 'ic4', 'ic2']

In [80]:
# Identify -how many- null values -each column- has.
null_values_per_column = df.isna().sum()
print("Null Values per Column:")
print(null_values_per_column)

Null Values per Column:
controln     0
state        0
gender      40
hv1          2
ic1          0
ic4          1
hvp1         0
ic5          0
pobc1        0
pobc2        0
ic2          1
ic3          0
avggift      0
tcode        0
dob          0
domain       0
target_d     0
dtype: int64

In [ ]:
# Decide on a -strategy- for -handling the null values-. There are several options, including:

    # -Drop- the rows or columns with null values
    # -Fill- the null values with a -specific value-
    #--(such as the column -mean or median- for numerical variables and -mode- for categorical variables)
    # -Fill- the null values with the -previous or next value- in the column
    # -Fill- the null values based on a -more complex algorithm or model- (we haven't studied this yet)

In [87]:
# -Fill- the null values with a -specific value-

mode_gender = df['gender'].mode().iloc[0]
df['gender'].fillna(mode_gender, inplace=True)
print(df)

      controln state gender      hv1  ic1    ic4  hvp1    ic5  pobc1  pobc2  \
0        44060    FL      M   AAA896  392  520.0     7  21975      6     16
1        43333    FL      F   725.00  301  436.0     3  18837     11     17
2        21885    NC      M  AAA1095  401  413.0     7  14014      1     74
3       190108    FL      F   995.00  252  348.0     0  17991      5      6
4       100640    IL      M   764.00  457  501.0     1  16022      2     75
...        ...   ...    ...      ...  ...    ...   ...    ...    ...    ...
1001    114721    OK      F     1040  472  656.0     0  26962      2     56
1002    149152    CA      M     4507  842  962.0    95  54642     17     50
1003       959    IA      F      586  349  465.0     1  15304      1     77
1004    179563    WA   male      842  420  494.0     2  12894     41     24
1005     41243    FL      F      556  246  330.0     0  10272      2     56

         ic2  ic3    avggift  tcode   dob domain  target_d
0      430.0  466  28.000000      1  1901     C2     100.0
1      340.0  361   4.111111      0  2501     C2       5.0
2      407.0  399  27.277778      0  2208     T2      38.0
3      280.0  316   6.000000     28     0     C2       5.0
4      477.0  480  25.571429      1  6104     S2      30.0
...      ...  ...        ...    ...   ...    ...       ...
1001   609.0  579  11.666667      0     0     C2      15.0
1002  1004.0  893  20.000000      1  4401     S1      20.0
1003   413.0  404   7.300000      0  4404     C2      10.0
1004   419.0  476  16.400000      1  5001     S2      23.0
1005   277.0  292   9.818182      2  2201     S2      12.0

[1006 rows x 17 columns]

In [86]:
# -Implement- your -chosen strategy- to handle the null values. 
# You can use the -fillna() function- in -pandas- to fill null values or -dropna()function- to drop null values.

In [92]:
# -Verify- that your -strategy- has successfully handled the null values.
# You can use the -isnull() function- again to -check- if there are -still null values in the dataset-.
#print(null_values_per_column)
are_null_values_present = df.isnull().any().any()
if are_null_values_present:
    print("There are still null values in the DataFrame.")
else:
    print("There are no null values in the DataFrame.")

There are still null values in the DataFrame.

In [ ]:
# Remember to -document your process- and -explain your reasoning- 
#--for choosing a particular -strategy- for handling null values.
I replaced the null values with the mode, because I think it is the savest value to apply when you have information missing.
An other option would be to ask the company to provide the missing data by contacting donors.

In [95]:
# After -formatting data types-, as a last step, -convert- all the -numeric variables to integers- using -applymap-.
def convert_to_int(x):
    try:
        return int(x)
    except (ValueError, TypeError):
        return x
    
df = df.applymap(convert_to_int)
print(df)

      controln state gender      hv1  ic1    ic4  hvp1    ic5  pobc1  pobc2  \
0        44060    FL      M   AAA896  392  520.0     7  21975      6     16
1        43333    FL      F   725.00  301  436.0     3  18837     11     17
2        21885    NC      M  AAA1095  401  413.0     7  14014      1     74
3       190108    FL      F   995.00  252  348.0     0  17991      5      6
4       100640    IL      M   764.00  457  501.0     1  16022      2     75
...        ...   ...    ...      ...  ...    ...   ...    ...    ...    ...
1001    114721    OK      F     1040  472  656.0     0  26962      2     56
1002    149152    CA      M     4507  842  962.0    95  54642     17     50
1003       959    IA      F      586  349  465.0     1  15304      1     77
1004    179563    WA   male      842  420  494.0     2  12894     41     24
1005     41243    FL      F      556  246  330.0     0  10272      2     56

         ic2  ic3  avggift  tcode   dob domain  target_d
0      430.0  466       28      1  1901     C2       100
1      340.0  361        4      0  2501     C2         5
2      407.0  399       27      0  2208     T2        38
3      280.0  316        6     28     0     C2         5
4      477.0  480       25      1  6104     S2        30
...      ...  ...      ...    ...   ...    ...       ...
1001   609.0  579       11      0     0     C2        15
1002  1004.0  893       20      1  4401     S1        20
1003   413.0  404        7      0  4404     C2        10
1004   419.0  476       16      1  5001     S2        23
1005   277.0  292        9      2  2201     S2        12

[1006 rows x 17 columns]

In [ ]:
# Your code here

## Exercise 5: Dealing with duplicates

Use the .duplicated() method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the drop_duplicates() function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using .duplicated().

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [ ]:
# Use the -.duplicated() method- to identify any -duplicate rows- in the -dataframe-.

# Decide on a -strategy- for -handling the duplicates-. Options include:

# -Dropping- all duplicate rows
# Keeping -only the first occurrence- of each duplicated row
# Keeping -only the last occurrence- of each duplicated row
# -Dropping- duplicates -based on a subset of columns-
# -Dropping- duplicates -based on a specific column-

In [68]:
# Use the -.duplicated() method- to identify any -duplicate rows- in the -dataframe-.
df = pd.DataFrame(file1)
duplicates = df[df.duplicated()]
print("Duplicate Rows:")
print(duplicates)

Duplicate Rows:
      controln state gender   hv1  ic1    ic4  hvp1    ic5  pobc1  pobc2  \
999     127823    TX      F   258   64   74.0     0   4236      0     94
1000    150739    CA      U  1951  556  625.0    44  17208     10     66
1002    114721    OK    NaN  1040  472  656.0     0  26962      2     56
1003    149152    CA      M  4507  842  962.0    95  54642     17     50
1004       959    IA      F   586  349  465.0     1  15304      1     77
1005    179563    WA   male   842  420  494.0     2  12894     41     24
1006     41243    FL      F   556  246  330.0     0  10272      2     56

         ic2  ic3    avggift  tcode   dob domain  target_d
999     60.0   93   5.450000      2  2301     C3       6.0
1000   578.0  619   9.681818      2  5410     S1      12.0
1002   609.0  579  11.666667      0     0     C2      15.0
1003  1004.0  893  20.000000      1  4401     S1      20.0
1004   413.0  404   7.300000      0  4404     C2      10.0
1005   419.0  476  16.400000      1  5001     S2      23.0
1006   277.0  292   9.818182      2  2201     S2      12.0

In [ ]:
# Decide on a -strategy- for -handling the duplicates-.
My strategy is to drop all duplicate rows, because they are confusing and the dataframe will present wrong information based on duplicated data.

In [74]:
# Implement your chosen strategy using the drop_duplicates() function.
# -Dropping- all duplicate rows
df_no_duplicates = df.drop_duplicates()
print("DataFrame without Duplicates:")
print(df_no_duplicates)

DataFrame without Duplicates:
      controln state gender      hv1  ic1    ic4  hvp1    ic5  pobc1  pobc2  \
0        44060    FL      M   AAA896  392  520.0     7  21975      6     16
1        96093    IL      M   537.00  365  473.0     0  19387      1     89
2        43333    FL      F   725.00  301  436.0     3  18837     11     17
3        21885    NC      M  AAA1095  401  413.0     7  14014      1     74
4       190108    FL      F   995.00  252  348.0     0  17991      5      6
...        ...   ...    ...      ...  ...    ...   ...    ...    ...    ...
995      30104    GA      M      364  246  325.0     0   9720      0     89
996     154614    CA      F     1709  511  537.0    26  15138      9     68
997      57151    KY      F      875  311  326.0     0   7746      3     29
998      71425    MI      M      713  300  364.0     0  16833      2     88
1001     41384    FL      F      556  318  352.0     0  11779     16     22

        ic2  ic3    avggift  tcode   dob domain  target_d
0     430.0  466  28.000000      1  1901     C2     100.0
1     415.0  410   5.666667      0     0     T2       7.0
2     340.0  361   4.111111      0  2501     C2       5.0
3     407.0  399  27.277778      0  2208     T2      38.0
4     280.0  316   6.000000     28     0     C2       5.0
...     ...  ...        ...    ...   ...    ...       ...
995   307.0  287   8.833333      1  5201     R2      15.0
996   518.0  527  15.000000      0     0     T1      20.0
997   326.0  326  15.900000      0  3601     R1      26.0
998   313.0  323   6.000000      1  4401     T2       7.0
1001  358.0  320   9.428571     28  5107     S3      12.0

[1000 rows x 17 columns]

In [76]:
# Verify that your strategy has successfully handled the duplicates 
#--by checking for duplicates again using .duplicated().
print(df_no_duplicates)

In this dataframe only displaying the first and last 5 rows, row 999 and 1000 are dropped.

      controln state gender      hv1  ic1    ic4  hvp1    ic5  pobc1  pobc2  \
0        44060    FL      M   AAA896  392  520.0     7  21975      6     16
1        96093    IL      M   537.00  365  473.0     0  19387      1     89
2        43333    FL      F   725.00  301  436.0     3  18837     11     17
3        21885    NC      M  AAA1095  401  413.0     7  14014      1     74
4       190108    FL      F   995.00  252  348.0     0  17991      5      6
...        ...   ...    ...      ...  ...    ...   ...    ...    ...    ...
995      30104    GA      M      364  246  325.0     0   9720      0     89
996     154614    CA      F     1709  511  537.0    26  15138      9     68
997      57151    KY      F      875  311  326.0     0   7746      3     29
998      71425    MI      M      713  300  364.0     0  16833      2     88
1001     41384    FL      F      556  318  352.0     0  11779     16     22

        ic2  ic3    avggift  tcode   dob domain  target_d
0     430.0  466  28.000000      1  1901     C2     100.0
1     415.0  410   5.666667      0     0     T2       7.0
2     340.0  361   4.111111      0  2501     C2       5.0
3     407.0  399  27.277778      0  2208     T2      38.0
4     280.0  316   6.000000     28     0     C2       5.0
...     ...  ...        ...    ...   ...    ...       ...
995   307.0  287   8.833333      1  5201     R2      15.0
996   518.0  527  15.000000      0     0     T1      20.0
997   326.0  326  15.900000      0  3601     R1      26.0
998   313.0  323   6.000000      1  4401     T2       7.0
1001  358.0  320   9.428571     28  5107     S3      12.0

[1000 rows x 17 columns]

In [ ]:
# Remember to document your process and explain your reasoning 
#--for choosing a particular strategy for handling duplicates.

In [77]:
# Save the cleaned dataset to a new CSV file.

df_cleaned = df.drop_duplicates()
df_cleaned.to_csv('cleaned_dataset_file1.csv', index=False)
print("Cleaned dataset saved to 'cleaned_dataset_file1.csv'.")

Cleaned dataset saved to 'cleaned_dataset_file1.csv'.

In [78]:
# Hint: after dropping duplicates, reset the index to ensure consistency.
df = df.drop(index=1)
df = df.reset_index(drop=True)
print(df)

      controln state gender      hv1  ic1    ic4  hvp1    ic5  pobc1  pobc2  \
0        44060    FL      M   AAA896  392  520.0     7  21975      6     16
1        43333    FL      F   725.00  301  436.0     3  18837     11     17
2        21885    NC      M  AAA1095  401  413.0     7  14014      1     74
3       190108    FL      F   995.00  252  348.0     0  17991      5      6
4       100640    IL      M   764.00  457  501.0     1  16022      2     75
...        ...   ...    ...      ...  ...    ...   ...    ...    ...    ...
1001    114721    OK    NaN     1040  472  656.0     0  26962      2     56
1002    149152    CA      M     4507  842  962.0    95  54642     17     50
1003       959    IA      F      586  349  465.0     1  15304      1     77
1004    179563    WA   male      842  420  494.0     2  12894     41     24
1005     41243    FL      F      556  246  330.0     0  10272      2     56

         ic2  ic3    avggift  tcode   dob domain  target_d
0      430.0  466  28.000000      1  1901     C2     100.0
1      340.0  361   4.111111      0  2501     C2       5.0
2      407.0  399  27.277778      0  2208     T2      38.0
3      280.0  316   6.000000     28     0     C2       5.0
4      477.0  480  25.571429      1  6104     S2      30.0
...      ...  ...        ...    ...   ...    ...       ...
1001   609.0  579  11.666667      0     0     C2      15.0
1002  1004.0  893  20.000000      1  4401     S1      20.0
1003   413.0  404   7.300000      0  4404     C2      10.0
1004   419.0  476  16.400000      1  5001     S2      23.0
1005   277.0  292   9.818182      2  2201     S2      12.0

[1006 rows x 17 columns]

In [ ]:
# Your code here

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting. 

Write these functions in a separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we tried to do work with that column, we wouldn't have been able to do it because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, lets get some more interesting insights!

Instructions:

- Review again the statistics for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the .describe() method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here